<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CaclulaterBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service behaviorConfiguration="CaclulaterBehavior" name="WcfServices.Services.CalculatorService">
        <endpoint address="http://localhost:8080/calculatorservice" binding="basicHttpBinding"
            bindingConfiguration="" contract="WcfServices.Contracts.ICalculator" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/calculatorservice" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
  </system.serviceModel>
</configuration>